@font-face {
  font-family: "AlphaSlab";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/AlfaSlabOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "IndieFlower";
  font-weight: bold;
  font-style: bold;
  src: url("../fonts/IndieFlower.ttf") format("truetype");
}
@font-face {
  font-family: "Orbitron-Black";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Orbitron-Black.ttf") format("truetype");
}
@font-face {
  font-family: "typewriter";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/typewriter.ttf") format("truetype");
}
